* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {

  padding: 0.5rem 1rem;
  background-color: aquamarine;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;


}